.selector-container {
    display: flex;
    flex-direction: row;
    background-color: #eeecfa;
    border-radius: 1em;
    padding: 3px;
    width: fit-content;
}

button {
    display: flex;
    border: none;
    font-size: 16px;
    font-family: "Poppins-Thin";
    font-weight: 100;
    border-radius: 1em;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

button:hover {
    background-color: #033d68;
    color: #ffffff;
    transition-duration: 0.2s;
}

.unselected-button {
    background-color: #eeecfa;
    color: #033d68;
}

.selected-button {
    background-color: #033d68;
    color: #ffffff;
}

@font-face {
    font-family: "Poppins Thin";
    src: local("Poppins Thin"), url(../../assets/fonts/Poppins-Thin.ttf) format("ttf");
}