.Overview {
    display: flex;
    flex-direction: column;
}

.Overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.Overview-infos {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 1em;
}

.Overview-pad2 {
    padding-left: 2em;
}

.Overview-pad12 {
    padding-left: 12em;
}